* {
    outline: 0;
}

body {
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

#form {
    background: rgb(78, 89, 103);
    background: linear-gradient( 90deg, rgba(78, 89, 103, 1) 0%, rgba(70, 81, 95, 1) 48%, rgba(58, 69, 84, 1) 100%, rgba(79, 90, 104, 1) 100%);
}

#App {
    background: rgb(242, 132, 163);
    background: linear-gradient( 90deg, rgba(242, 132, 163, 1) 0%, rgba(208, 72, 153, 1) 100%);
}

#calc {
    margin-bottom: 10px;
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 6px;
}

#screen {
    background: rgb(78, 89, 103);
    background: linear-gradient( 90deg, rgba(78, 89, 103, 1) 0%, rgba(70, 81, 95, 1) 48%, rgba(58, 69, 84, 1) 100%, rgba(79, 90, 104, 1) 100%);
    border-radius: 4px 4px 0px 0px;
}

#history {
    padding-top: 10px;
    margin-right: 12px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 19px;
    color: #949dac;
    height: 25px;
}

.input {
    margin-right: 12px;
    padding-bottom: 20px;
    height: 25px;
    font-size: 25px;
    text-align: right;
    color: #f1f2f3;
    width: 276px;
    background: rgb(78, 89, 103);
    background: linear-gradient( 90deg, rgba(78, 89, 103, 1) 0%, rgba(70, 81, 95, 1) 48%, rgba(58, 69, 84, 1) 100%, rgba(79, 90, 104, 1) 100%);
    border: transparent;
}

#buttons {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #384351;
    width: 288px;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 72px;
    height: 62px;
    background-color: #384351;
    color: #d1d6db;
    font-size: 19px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: transparent;
    outline: none;
}

.hover:hover {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #b0b8c5;
    align-items: center;
    justify-content: center;
    display: flex;
}

.zero {
    width: 144px;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #485460;
    text-align: center;
    font-size: 25px;
    color: #b0b8c5;
    justify-content: center;
    display: flex;
    align-items: center;
}

.leftborder {
    border-bottom-left-radius: 4px;
}

.beq {
    border-bottom-right-radius: 4px;
}

#up {
    color: #5f6a78;
}

.divided {
    font-size: 32px;
}